.raw-content {
  font-size: 1.5rem;
}
.devider {
  height: 100%;
  background: #333;
}
.content {
  h1 {
    font-family: "Playfair Display", serif;
  }
}

.raw-content {
  p {
    font-size: 1.2rem;
    font-family: "PT Sans", sans-serif;
    letter-spacing: 1px;
  }
}
